<!DOCTYPE html>
<html ng-app="angularCalendar">
    <head>
        <meta charset="utf-8">
        <title>Angular Calendar</title>
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="index.module.js"></script>
    </head>
    <body class="container" ng-controller="CalendarController as calendar">
        <p>Today's date is: {{calendar.day | date : 'fullDate'}}</p>
        <p>First day of the month is: {{calendar.firstDayOfMonth | date: 'fullDate'}}</p>
        <p>Last day of the month is: {{calendar.lastDayOfMonth | date: 'fullDate'}}</p>
        <p>Days in month</p>
        <table class="table">
            <tr>
                <td class="span2" ng-repeat="day in calendar.currentMonth">{{day | date: 'dd'}}</td>
            </tr>
        </table>
        <p>Days in first week</p>
        <table class="table">
            <thead>
                <tr>
                    <th ng-repeat="dayNames in calendar.weekDays" class="text-center">{{dayNames}}</th>
                </tr>
            </thead>
            <tr ng-repeat="week in calendar.weeks">
                <td ng-repeat="day in week" class="text-center">{{day | date: 'dd'}}</td>
            </tr>
        </table>
    </body>
</html>
